.container {
  background-color: red;
  border: 1px solid black;
  margin: 50px;
  border-radius: 20px;
  height: 200px;
}

.container h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.container p {
  font-weight: bold;
  color: white;
  margin: 20px;
}

.container a {
  background-color: rgb(15, 15, 13);
  color: white;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
  border-radius: 20px;
}
